* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
 font-family: YanoneRegular; /* Гарнитура шрифта */
 src: url(/style/fonts/Yanone/YanoneKaffeesatz-Light.otf); /* Путь к файлу со шрифтом */
}

body {
  background: #FAEEDD;
  font-family: YanoneRegular;
  color: #323232;
  font-size: 16px;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.conteiner {
  margin: 150px 0;
  min-height: calc(100vh - 300px);
  background: white;
  border-radius: 15px;
  padding: 40px 20px;
  box-shadow: 0 0 10px #FADBAF;
}
.wrap-input-file {
  width: 300px;
  margin: 0 auto;
}
.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input-file-button {
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  background: #C5D0E6;
  border-radius: 5px;
  text-align: center;
  transition: 2s linear;
}
.input-file-button-loader {
  background: #6E5160;
}
.preview-image {
  margin-top: 50px;
}
.preview-image img {
  width: 100%;
}
.result-image {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-image img {
  margin: 7px;
  max-width: 19%;
  box-shadow: 5px 5px 20px rgba(0,0,0, 0.5);
}
